.container {
    margin: 0 60px;
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    backdrop-filter: blur(12px);
}

.container_dois {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    width: 500px;
}

article span {
    color: rgb(255, 0, 0);
}

article h1 {
    font-size: 60px;
}

article h2 {
    font-size: 25px;
}

article p {
    text-align: justify;
}

.btn {
    margin: 20px 0;
    padding: 4px 12px;
    border: none;
    border-radius: 5px;
    background-color: red;
}